<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
            <a href="#" class="active">Transactions</a>
        </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
        <i class="bx bxs-cloud-download"></i>
        <span class="text">Download PDF</span>
    </a>
</div>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Services Récents</h3>
            <i class="bx bx-search"></i>
            <i class="bx bx-filter"></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>visiteur</th>
                    <th>telephone</th>
                    <th>email</th>
                    <th>montant</th>
                    <th>motif</th>
                    <th>status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of Orders">
                    <td>
                        <p>{{order.rN}}</p>
                    </td>
                    <td>{{order.rT}}</td>
                    <td>{{order.rE}}</td>
                    <td>{{order.rMt}}</td>
                    <td>{{order.motif}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>