<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
            <a href="#" class="active">Visiteurs</a>
        </li>
        </ul>
    </div>
    <div class="button">
        <a href="#" class="btn-download">
            <i class="bx bxs-cloud-download"></i>
            <span class="text">Download PDF</span>
        </a>
        <a (click)="showUserList()" class="btn-download">
            <i class="bx bxs-plus"></i>
            <span class="text">Actualiser</span>
        </a>
    </div>
</div>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Services Récents</h3>
            <i class="bx bx-search"></i>
            <i class="bx bx-filter"></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>adresse mail</th>
                    <th>téléphone</th>
                    <th>ville</th>
                    <th>pays</th>
                    <th>inscription</th>
                    <th>dernière connexion</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList">
                    <td><!--<img [src]="">--><p>{{ user.fname }}</p></td>
                    <td>{{ user.lname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.town }}</td>
                    <td>{{ user.country }}</td>
                    <td></td>
                    <td></td>
                    <td>
                        <button><i class="bx bx-search"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>