<div class="head-title">
    <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li><i class="bx bx-chevron-right"></i></li>
        <li>
            <a href="#" class="active">Liens</a>
        </li>
        </ul>
    </div>
    <a href="#" class="btn-download">
        <i class="bx bxs-cloud-download"></i>
        <span class="text">Download PDF</span>
    </a>
</div>

<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Services Récents</h3>
            <i class="bx bx-search"></i>
            <i class="bx bx-filter"></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Categorie</th>
                    <th>Adresse</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let link of Links">
                    <td>{{ link.fname }}</td>
                    <td>{{ link.categorie }}</td>
                    <td><a href="{{ link.url }}">{{ link.url }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>